.App {
    text-align: center;
}

.App-Item {
    color: #856404;
    background-color: #ffeeba;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;

    border: 1px solid rgba(0, 0, 0, .125);
}
